# Unideal Client — Environment Variables
# Copy this to .env.local and fill in your values

VITE_API_URL=http://localhost:5001
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bGl0ZXJhdGUtYmVkYnVnLTcwLmNsZXJrLmFjY291bnRzLmRldiQ
VITE_CLOUDINARY_CLOUD_NAME=drd28jqxh
VITE_CLOUDINARY_UPLOAD_PRESET_ITEMS=unideal-items
VITE_CLOUDINARY_UPLOAD_PRESET_AVATARS=unideal-avatars
VITE_CLOUDINARY_UPLOAD_PRESET_IDS=unideal-ids
VITE_ABLY_API_KEY=pV-01A.hM_Jww:pZgnzmI0QHeqQT0Fsdgw_lQBQRwIqfs2IHXdubYws4A
VITE_MAPBOX_ACCESS_TOKEN=pk.your_mapbox_token
VITE_RAZORPAY_KEY_ID=rzp_test_SIQvCm0Uhd0Gml

